<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading">
  <div class="container">
    <!--Show database result if a valid location has been set-->
    <div *ngIf="validLocation">
      <div class="result_container">
        <div class="heading">
          <h1>{{ fixerCategory }} in your area</h1>
          <hr>
        </div>
        <div class="card_container" *ngIf="featuredFixers?.length > 0">
          <h2>Featured Fixers</h2>
          <div *ngFor="let featured of featuredFixers">
            <mat-card>
              <div class="selfie">
                <img src="{{ featured?.selfieUrl }}">
              </div>
              <div style="text-align: center;">
                <mat-card-title style="margin-top: 15px;">{{ featured?.fullName }}</mat-card-title>
                <mat-card-title style="margin-top: 15px;">{{ featured?.copmanyName }}</mat-card-title>
                <mat-card-subtitle>{{ featured?.companyDescription }}</mat-card-subtitle>
                <mat-card-title style="margin-top: 15px;">{{ featured?.hitMetadata.distance | number:'1.0-0' }}km away from you</mat-card-title>
              </div>
              <div *ngIf="featured?.hasRating">
                <ngb-rating readonly="true" rate="{{ featured?.totalRatings / featured?.ratingsCount }}" max="5">
                  <ng-template let-fill="fill">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                  </ng-template>
                </ngb-rating>
                <button mat-raised-button>View Reviews</button>
              </div>
              <div class="contact_btn">
                <button mat-raised-button (click)="onClickOpenContactUserBottomSheet(featured?.uid, featured?.email, featured?.cellNum)">Contact Fixer</button>
              </div>
            </mat-card>
          </div>
        </div>
        <div class="card_container" *ngIf="filteredUsers?.length > 0">
          <div *ngFor="let filteredUser of filteredUsers">
            <mat-card>
              <div class="selfie">
                <img src="{{ filteredUser?.selfieUrl }}">
              </div>
              <div style="text-align: center;">
                <mat-card-title style="margin-top: 15px;">{{ filteredUser?.fullName }}</mat-card-title>
                <mat-card-title style="margin-top: 15px;">{{ filteredUser?.companyName }}</mat-card-title>
                <mat-card-subtitle>{{ filteredUser?.companyDescription }}</mat-card-subtitle>
                <mat-card-title style="margin-top: 15px;">{{ filteredUser?.hitMetadata.distance | number:'1.0-0' }}km away from you</mat-card-title>
              </div>
              <div *ngIf="filteredUser?.hasRating" class="rating">
                <ngb-rating readonly="true" rate="{{ filteredUser?.totalRatings / filteredUser?.ratingsCount }}" max="5">
                  <ng-template let-fill="fill">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                  </ng-template>
                </ngb-rating>
                <button mat-raised-button>View Reviews</button>
              </div>
              <div class="contact_btn">
                <button mat-raised-button (click)="onClickOpenContactUserBottomSheet(filteredUser?.uid, filteredUser?.email, filteredUser?.cellNum)">Contact Fixer</button>
              </div>
            </mat-card>
          </div>
          <button mat-raised-button color="primary" (click)="onClickNavigateBack()" style="margin-bottom: 1rem;">Go Back</button>
        </div>
        <div class="card_container" *ngIf="filteredUsers?.length == 0">
          <h2>No fixers in your area</h2>
          <button mat-raised-button color="primary" (click)="onClickNavigateBack()">Go Back</button>
        </div>
      </div>
    </div>

    <!--Show map if no valid location is used-->
    <div *ngIf="!validLocation">
      <div class="heading">
        <h1>Choose your location to find the best fixers in your area.</h1>
      </div>
      <div class="map">
        <google-map height="500px" width="100%" [zoom]="zoom" [center]="defaultCenter" draggable="true">
          <map-marker [position]="defaultCenter" (mapDragend)="onClickDragMarker($event)" draggable="true" [options]="options">

          </map-marker>
        </google-map>
        <div class="mapbtn">
          <button mat-raised-button color="primary" (click)="onClickBeginQueryFromNewLocation()">Find A Fixer!</button>
        </div>
      </div>
    </div>
  </div>
</div>
