<div class="container">

  <!--Featured Categories-->
  <div class="group_container">
    <h1>Featured Categories</h1>
    <hr>

    <div class="featured_cards_container">
      <div class="card_container">
        <mat-card>
          <img mat-card-image src="../../../assets/plumber.jpg"><br>
          <button mat-raised-button color="primary">Find Plumbers</button>
        </mat-card>
      </div>
      <div class="card_container">
        <mat-card>
          <img mat-card-image src="../../../assets/electricians.jpg"><br>
          <button mat-raised-button color="primary">Find Electricians</button>
        </mat-card>
      </div>
      <div class="card_container">
        <mat-card>
          <img mat-card-image src="../../../assets/handyman.jpg"><br>
          <button mat-raised-button color="primary">Find Handymen</button>
        </mat-card>
      </div>
      <div class="card_container">
        <mat-card>
          <img mat-card-image src="../../../assets/bathroom.jpg"><br>
          <button mat-raised-button color="primary">Find Bathroom Specialists</button>
        </mat-card>
      </div>
    </div>
  </div>

  <!--Featured Categories-->
  <div class="group_container">
    <h1>Search Categories</h1>
    <hr>
  </div>

  <!--Featured Categories-->
  <div class="group_container">
    <h1>All Categories</h1>
    <hr>
  </div>

</div>
